<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Product App</title>   
    <link rel="stylesheet" href="./1_assets/style.css">
</head>
<body>

    <div class="nav-bar">

    </div>
    <div id="app">
        <div class="product">
            <div class="product-image">
                <!--v-bind dynamically binds an attribute to an expression-->
                <!-- v-bind: yerine sadece : kullanarak bind edebilirsin -->
                <!-- :alt="description", :href="url" , :title: -->
                <a :href="link"><img v-bind:src="image"></a>
            </div>
            <div class="product-info">
                <h1>{{product}}</h1>
                <!-- <p v-if="inventory > 10">In Stock</p>
                <p v-else-if="inventory <= 10 && inventory > 0">Almost sold out!</p>
                <p v-else>Out of Stock</p> -->
                <!--style="display-none"-->
                <!-- <span v-if="onSale">On Sale</span> -->
                <p v-show="inStock">In Stock</p>

                <ul>
                    <li v-for="detail in details">{{detail}}</li>
                </ul>

                <div v-for="variant in variants" :key="variant.variantId">
                    <!--v-on:mouseover yerine @mouseover kullanilabilir.-->
                    <!--@click, @submit for form, @keyup.enter-->
                    <p @mouseover="setImage(variant.variantImage)">{{variant.variantColor}}</p>
                </div>
                
                <ul>
                    <li v-for="size in sizes">{{size}}</li>
                </ul>

                <!-- <button v-on:click="cart += 1">Add to Cart</button> -->
                <button @click="addToCart">Add to Cart</button>
                <div class="cart">
                    <p>Cart({{cart}})</p>
                </div>
            </div>
        </div>
    </div>
    
</body>
</html>
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script src="./1_assets/main.js"></script>